<div class="aligncenter">
    <div>
        <a href="https://podcasts.apple.com/au/podcast/the-ambassador-lounge-podcast/id1488429642"><img src="/images/podcastapps/applepodcasts_en.png" srcset="/images/podcastapps/applepodcasts_en@2x.png 2x, /images/podcastapps/applepodcasts_en@3x.png 3x"/></a>
        {{/* <a href="https://google"><img src="/images/podcastapps/googlepodcasts_en.png" srcset="/images/podcastapps/googlepodcasts_en@2x.png 2x, /images/podcastapps/googlepodcasts_en@3x.png 3x"/></a> */}}
        <a href="https://open.spotify.com/show/59KyKJQNbHH3e50HC2GEin?si=VI4TTNWiRjKVDLGxMUx9Tg"><img src="/images/podcastapps/spotify_en.png" srcset="/images/podcastapps/spotify_en@2x.png 2x, /images/podcastapps/spotify_en@3x.png 3x"/></a>
        <a href="https://www.ambassador-lounge.com/podcast.xml"><img src="/images/podcastapps/rss_en.png" srcset="/images/podcastapps/rss_en@2x.png 2x, /images/podcastapps/rss_en@3x.png 3x"/></a>
    </div>
    <div style="clear:both; margin-top: 0.3em;">
        {{/*<a href="https://pca.st/itunes/id1488429642"><img src="/images/podcastapps/pocketcasts_en.png" srcset="/images/podcastapps/pocketcasts_en@2x.png 2x, /images/podcastapps/pocketcasts_en@3x.png 3x"/></a>
        <a href="https://overcast.fm/id1488429642"><img src="/images/podcastapps/overcast_en.png" srcset="/images/podcastapps/overcast_en@2x.png 2x, /images/podcastapps/overcast_en@3x.png 3x"/></a>
        <a href="https://castro.fm/itunes/id1488429642"><img src="/images/podcastapps/castro.svg"/></a>*/}}
    </div>
</div>