<h1 class="screen-reader-text">Posts</h1>

{{ $paginator := .Paginator.Pages }}
<div id="loop-container" class="loop-container">
	{{ range $index, $element := .Paginator.Pages }}
  {{ $scratch := newScratch }}
  {{ if .Site.Params.ambassadors }}
    {{ $scratch.Set "ambassador" (index .Site.Params.ambassadors (lower .Params.ambassador) | default dict) }}
  {{ else }}
    {{ $scratch.Set "ambassador" (.Site.Params.social | default dict) }}
  {{ end }}
  {{ $ambassador := $scratch.Get "ambassador" }}
	{{ if and (isset .Params "image") .Params.image }}
		{{ if eq (mod $index 2) 0 }}
			<div class="post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-memories tag-normal-post tag-standard-2 excerpt zoom full-without-featured odd excerpt">
		{{ else }}
			<div class="post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-memories tag-normal-post tag-standard-2 excerpt zoom full-without-featured even excerpt">
		{{ end }}
	{{ else }}
		<div class="post type-post status-publish format-standard hentry category-standard category-travel excerpt zoom full-without-featured odd excerpt">

	{{ end }}

				{{ partial "summary" . }}
			</div>
			{{ end }}
		</div>
