<meta itemprop="url" content="{{.Permalink}}">
<meta itemprop="datePublished" content="{{ .Date.Format "2006-01-02T15:04:05 MST" }}"/>
<meta itemprop="dateModified" content="{{ .Lastmod.Format "2006-01-02T15:04:05 MST" }}"/>
{{ range $ambassadorName := .Params.ambassadors }}
<span itemprop="actor" itemscope itemtype="http://schema.org/Person">
<meta itemprop="name" content="{{ $ambassadorName}}">
</span>
{{ end }}
<span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
<meta itemprop="name" content="Ambassador Lounge">
<meta itemprop="url" content="https://www.ambassador-lounge.com">
<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
    <meta itemprop="url" content="https://www.ambassador-lounge.com/logo.jpg">
</span>
</span>
<meta itemprop="episodeNumber" content="{{.Slug}}"/>
<meta itemprop="image" content="{{if in .Params "image"}}{{ .Params.image }}{{else}}{{"/images/logo.jpg" | absURL}}{{end}}" />
