{{ define "main" }}
  <main>
    <div class="archive-header">
      <h1>
        Category: {{ .Title }}
        {{ if .Site.Params.social.rss }}
        <a href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" data-animate-hover="pulse" class="in-page-rss" target="_blank">
                <i class="fas fa-rss" title="rss"></i>
                <span class="screen-reader-text">rss</span>
        </a>
        {{ end }}
      </h1>
    </div>
    {{ partial "portfolio" . }}
    {{ partial "pagination.html" . }}
  </main>
{{ end }}